img {
  width: 100px;
  height: auto;
  margin: 0.5rem;
}

.pic1,
.pic2,
.colortype {
  width: 350px;
  height: auto;
}

body {
  font-size: 16px;
  font-family: "Shadows Into Light", cursive;
}

/* phone or baseline views **************************/
header,
footer {
  background-color: #83bcff;
  display: flex;
  flex-flow: column;
  align-items: center;
}

header,
nav,
main,
footer {
  max-width: 767px;
  margin: 0 auto;
}
h1 {
  font-size: 4rem;
  font-family: "Bangers", cursive;
}
nav {
  background-color: #36454f;
  text-align: center;
  box-shadow: 0 2px 15px gray;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 0.95rem;
  background: linear-gradient(
      90deg,
      transparent,
      rgb(173, 68, 211),
      transparent
    )
    top / var(--d, 0) 10px no-repeat;
  transition: 0.5s;
}
nav a:hover {
  /* 	background-color: #bbb;
        color: #36454f; */
  --d: 75%;
}
.active {
  color: white;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
  h1 {
    font-size: 1.5rem;
  }
  nav ul {
    display: flex;
  }
  nav ul li {
    flex: 1 1 100%;
  }

  nav a {
    font-size: 1rem;
  }

  /* Desktop Views ****************************/
  @media only screen and (min-width: 60em) {
    h1 {
      font-size: 2rem;
    }
    nav a {
      font-size: 1.1rem;
    }
  }
}
