@media only screen and (min-width: 60em) {
  h1 {
    font-size: 2rem;
  }
  nav a {
    font-size: 1.1rem;
  }

  .pic1 {
    width: 760px;
    height: auto;
  }
  /*Weather information*/
  .action {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    background-color: rgba(240, 240, 240, 0.8);
    margin: 1em 2em;
    padding: 1em;
    text-align: left;
    width: 200px;
    height: 150px;
  }
  /*adverstiment*/
  .hot-deal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 1em 2em;
    padding: 1em;
  }
  .article-position {
    grid-column: 1;
    grid-row: 1;
    background-color: rgba(240, 240, 240, 0.8);
    margin: 1em 2em;
    padding: 1em;
  }
  .article-1 {
    width: 250px;
    height: auto;
    grid-column: 1;
    grid-row: 3;
  }

  .article-2 {
    width: 250px;
    height: auto;
    grid-column: 2;
    grid-row: 3;
  }
  .article-3 {
    width: 250px;
    height: auto;
    grid-column: 3;
    grid-row: 3;
  }
  .information {
    grid-column: 1;
    grid-row: 2;
    background-color: rgba(240, 240, 240, 0.8);
    margin: 1em 2em;
    padding: 1em;
  }

  .contact-infomation {
    grid-column: 1;
    grid-row: 1;
  }
}
